
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/nav_Layout.cshtml";
    int brojac = 1;
}

@model AutoSalon.Web.Areas.Iznajmljivanje.ViewModels.OsiguranjaIndexVM



<div class="panel panel-default">
    <div class="panel-heading">
        Osiguranja
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length">



                        <div id="dataTables-example_filter" class="dataTables_filter" style="width:max-content">
                            <label>Pretraga(osiguravajuća firma):   <input type="search" id="txtOsiguranjaPretraga" class="form-control input-sm" placeholder=""></label>
                            <a id="btnOsiguranjaPretraga" href="#" class="btn btn-primary">Pretraži</a>
                            <a href="/Iznajmljivanje/Osiguranja/Dodaj" class="btn btn-success">Dodaj policu osiguranja</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br />
                        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed" id="dataTables-example" role="grid" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>Rbr.</th>
                                    <th>Broj police</th>
                                    <th>Osiguravajuća firma</th>
                                    <th>Vozilo</th>
                                    <th>Kraj ugovora</th>
                                    <th>Akcija</th>
</thead>
                            <tbody>
                                @foreach (var x in Model.rows)
                                {
                                    <tr>
                                        <th scope="row">@(brojac++)</th>
                                        <td>@x.brojPolice</td>
                                        <td>@x.osiguravajucaFirma</td>
                                        <td>@x.vozilo</td>
                                        <td>@x.krajUgovora</td>
                                        <td>
                                            <a href="/Iznajmljivanje/Osiguranja/Uredi/@x.policaId" class="btn btn-warning">Detalji</a>
                                            <a href="/Iznajmljivanje/Osiguranja/Obrisi/@x.policaId" class="btn btn-danger">Obriši</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
</div>

