@model UplateIndexVM
@{
    ViewData["Title"] = "Uplate";
    Layout = "~/Views/Shared/_Layout_Prodaja.cshtml";

}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#dataTables-example").DataTable({
                "language": {
                    "search": "Pretraga"/*"Search:"*/,
                    "emptyTable": "Nema podataka u tabeli"/*"No data available in table"*/,
                    "info": "Prikaz _START_ do _END_ od ukupno _TOTAL_ zapisa"/*"Showing _START_ to _END_ of _TOTAL_ entries"*/,
                    "infoEmpty": "Prikaz 0 do 0 od ukupno 0 zapisa"/*"Showing 0 to 0 of 0 entries"*/,
                    "infoFiltered": "pronađeno od _MAX_ ukupna zapisa"/*"(filtered from _MAX_ total entries)"*/,
                    "lengthMenu": "Prikaži _MENU_ zapisa"/*"Show _MENU_ entries"*/,
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "zeroRecords": "Nije pronađen nijedan zapis"/*"No matching records found"*/,
                    "paginate": {
                        "first": "Prva"/*"First"*/,
                        "last": "Posljednja"/*"Last"*/,
                        "next": "Naredna"/*"Next"*/,
                        "previous": "Prethodna"/*"Previous"*/
                    },
                },
                "lengthMenu": [10, 25, 50, 100]
            });
        });
    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Pregled uplata</b>
    </div>
    <div class="panel-body">
        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <br />
                    <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed" id="dataTables-example" role="grid" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Broj fakture</th>
                                <th>Datum uplate</th>
                                <th>Iznos</th>
                                <th>Ime i prezime klijenta</th>
                                <th>Način plaćanja</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.Redovi)
                            {
                                <tr>
                                    <td>@x.FakturaId</td>
                                    <td>@x.DatumUplate.ToShortDateString()</td>
                                    <td>@x.Iznos.ToString("F2")</td>
                                    <td>@x.KlijentImePrezime</td>
                                    <td>@x.NacinPlacanja</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>